@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    scroll-behavior: smooth;
    scroll-snap-type: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    color: #241D19;
    background-color: #e5e2e0;
    margin: 0;
    padding: 0px;
    @apply mx-auto;
    max-width: 2000px !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

